[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopy = "==2.4.1"
sqlalchemy = "==2.0.29"
astar = "==0.99"
flask = "==3.0.3"
uvicorn = "==0.29.0"
fastapi = "*"
pydantic = "*"
requests = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.11"
